In [2]:
pip install xmltodict

Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import requests # url로부터 정보를 가져올때 사용
import xmltodict # orderedDict 형태로 변환 - 보기 쉽게
import json # xml을 json으로 json을 파이썬으로 변환

In [161]:
for j in range(2004,2022):
    key = "6fLBvWC8tb86cflJiznO1nXuNbLsAcK7nCGvAt/5zdrEtWaQZ7XawCo0Y2xyQuR0kLyrBR97Rr1hIuWaqDuL9g=="
    url = f"http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getHoliDeInfo?solYear={str(j)}&ServiceKey=" + key
    content = requests.get(url).content # 내가 제공해준 url로 들어가서 내용을 다 가져와!!
    content_parsed = xmltodict.parse(content)
    jsonString = json.dumps(content_parsed['response']['body'], ensure_ascii = False)
    jsonObj = json.loads(jsonString)
    holi_dict = jsonObj['items']['item']
    date_list=[]
    name_list=[]
    for i in range(len(holi_dict)):
        date_list.append(holi_dict[i]['locdate']) # 날짜
        name_list.append(holi_dict[i]['dateName']) # 이름
    date = pd.DataFrame(date_list,columns=["date"])
    name = pd.DataFrame(name_list,columns=["name"])
    temp = pd.concat([date,name],axis=1)
    holiday = pd.concat([temp, holiday], axis=0)

In [125]:
holiday

        date      name
0   20210101      1월1일
1   20210211        설날
2   20210212        설날
3   20210213        설날
4   20210301       삼일절
..       ...       ...
5   20220309    대통령선거일
6   20220505      어린이날
7   20220508    부처님오신날
8   20220601  전국동시지방선거
9   20220606       현충일

[250 rows x 2 columns]

In [154]:
key = "6fLBvWC8tb86cflJiznO1nXuNbLsAcK7nCGvAt/5zdrEtWaQZ7XawCo0Y2xyQuR0kLyrBR97Rr1hIuWaqDuL9g=="
url = "http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getHoliDeInfo?solYear=2004&ServiceKey=" + key

In [155]:
content = requests.get(url).content # 내가 제공해준 url로 들어가서 내용을 다 가져와!!

In [156]:
content_parsed = xmltodict.parse(content)

In [157]:
# xml -> json
# 한글 깨짐 방지를 위해 ensure_ascii = False
jsonString = json.dumps(content_parsed['response']['body'], ensure_ascii = False)

# json -> python
jsonObj = json.loads(jsonString)

In [158]:
jsonObj

{'items': {'item': [{'dateKind': '01',
    'dateName': '신정',
    'isHoliday': 'Y',
    'locdate': '20040101',
    'seq': '1'},
   {'dateKind': '01',
    'dateName': '설날',
    'isHoliday': 'Y',
    'locdate': '20040121',
    'seq': '1'},
   {'dateKind': '01',
    'dateName': '설날',
    'isHoliday': 'Y',
    'locdate': '20040122',
    'seq': '1'},
   {'dateKind': '01',
    'dateName': '설날',
    'isHoliday': 'Y',
    'locdate': '20040123',
    'seq': '1'},
   {'dateKind': '01',
    'dateName': '삼일절',
    'isHoliday': 'Y',
    'locdate': '20040301',
    'seq': '1'},
   {'dateKind': '01',
    'dateName': '식목일',
    'isHoliday': 'Y',
    'locdate': '20040405',
    'seq': '1'},
   {'dateKind': '01',
    'dateName': '어린이날',
    'isHoliday': 'Y',
    'locdate': '20040505',
    'seq': '1'},
   {'dateKind': '01',
    'dateName': '석가탄신일',
    'isHoliday': 'Y',
    'locdate': '20040526',
    'seq': '1'},
   {'dateKind': '01',
    'dateName': '현충일',
    'isHoliday': 'Y',
    'locdate': '20040606',
    'seq': '1'},
   {'dateKind': '01',
    'dateName': '제헌절',
    'isHoliday': 'Y',
    'locdate': '20040717',
    'seq': '1'}]},
 'numOfRows': '10',
 'pageNo': '1',
 'totalCount': '16'}

In [159]:
holi_dict = jsonObj['items']['item']

In [114]:
date_list=[]
name_list=[]
for i in range(len(holi_dict)):
    date_list.append(holi_dict[i]['locdate']) # 날짜
    name_list.append(holi_dict[i]['dateName']) # 이름

In [115]:
date = pd.DataFrame(date_list,columns=["date"])
name = pd.DataFrame(name_list,columns=["name"])

In [116]:
holiday = pd.concat([date,name],axis=1)

In [90]:
holiday3 = holiday.copy()

In [121]:
holiday

        date      name
0   20210101      1월1일
1   20210211        설날
2   20210212        설날
3   20210213        설날
4   20210301       삼일절
..       ...       ...
5   20220309    대통령선거일
6   20220505      어린이날
7   20220508    부처님오신날
8   20220601  전국동시지방선거
9   20220606       현충일

[130 rows x 2 columns]

In [122]:
holiday["date"].unique()

array(['20210101', '20210211', '20210212', '20210213', '20210301',
       '20210505', '20210519', '20210606', '20210717', '20210815',
       '20200101', '20200124', '20200125', '20200126', '20200127',
       '20200301', '20200415', '20200430', '20200505', '20200606',
       '20190101', '20190204', '20190205', '20190206', '20190301',
       '20190505', '20190506', '20190512', '20190606', '20190717',
       '20180101', '20180215', '20180216', '20180217', '20180301',
       '20180505', '20180507', '20180522', '20180606', '20180613',
       '20170101', '20170127', '20170128', '20170129', '20170130',
       '20170301', '20170503', '20170505', '20170509', '20170606',
       '20160101', '20160207', '20160208', '20160209', '20160210',
       '20160301', '20160413', '20160505', '20160514', '20160606',
       '20150101', '20150218', '20150219', '20150220', '20150301',
       '20150505', '20150525', '20150606', '20150717', '20150815',
       '20140101', '20140130', '20140131', '20140201', '20140301',
       '20140505', '20140506', '20140604', '20140606', '20140717',
       '20130101', '20130209', '20130210', '20130211', '20130301',
       '20130505', '20130517', '20130606', '20130717', '20130815',
       '20120101', '20120122', '20120123', '20120124', '20120301',
       '20120411', '20120505', '20120528', '20120606', '20120717',
       '20110101', '20110202', '20110203', '20110204', '20110301',
       '20110505', '20110510', '20110606', '20110717', '20110815',
       '20100101', '20100213', '20100214', '20100215', '20100301',
       '20100505', '20100521', '20100606', '20100717', '20100815',
       '20220101', '20220131', '20220201', '20220202', '20220301',
       '20220309', '20220505', '20220508', '20220601', '20220606'],
      dtype=object)

In [123]:
holiday_backup = holiday.copy()

In [128]:
holiday = holiday.drop_duplicates()

In [164]:
holiday = holiday.drop_duplicates()

In [165]:
holiday.to_csv("holiday2010-2022.csv",index=False)

In [ ]:
F